$base__fontFamily: 'Helvetica Neue', Helvetica, sans-serif;
$base__fontSize: 62.5%;

$piano__width: 20rem;
$piano__height: 40rem;

$piano__height--row: 10rem;

/**
 * Specific
 */

$color__invalid: #ecf0f1;
$color__valid: #2c3e50;
$color__passed: #7f8c8d;
$color__stroke: #95a5a6;

/**
 * General Purpose
 */

$color__sunFlower: #f1c40f;
$color__emerald: #2ecc71;
$color__alizarin: #e74c3c;
$color_peterRiver: #3498db;
