@import 'base';

@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY($piano__height--row * -1);
  }

  to {
    -webkit-transform: translateY(0rem);
  }
}

.Piano {
  position: relative;
  overflow: hidden;
  display: inline-block;

  .Grid {
    stroke: $color__stroke;

    &.move {
      -webkit-animation: slide .1s linear;
    }
  }

  .tile-invalid {
    fill: $color__invalid;
  }

  .tile-valid {
    fill: $color__valid;
  }

  .tile-passed {
    fill: $color__passed;
  }

  .tile-start {
    fill: $color__sunFlower;
  }

}
