@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(-100px);
  }

  to {
    -webkit-transform: translateY(-0px);
  }
}

.Piano {
  .Grid {
    stroke: black;

    &.move {
      -webkit-animation: slide .1s linear;
    }
  }

  .tile-invalid {
    fill: #F0F0F0;
  }

  .tile-valid {
    fill: #000000;
  }

  .tile-passed {
    fill: #F123AC;
  }

  .tile-start {
    fill: #FF00FF;
  }

}
