.Piano {
  .Grid {
    stroke: black;
    -webkit-transition: transform .1s ease;
    -moz-transition: transform .1s ease;
    -o-transition: transform .1s ease;
    transition: transform .1s ease;

    &:hover {
      transform: translateY(100px);
    }
  }

  .tile-invalid {
    fill: #F0F0F0;
  }

  .tile-valid {
    fill: #000000;
  }

  .tile-passed {
    fill: #F123AC;
  }

  .tile-start {
    fill: #FF00FF;
  }

}
