@import 'base';

.DialogFail {
  color: white;

  button {
    cursor: pointer;
    background-color: $color__pomegranate;
    border: 0;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    margin: 1rem;
  }
}
