@import 'base';

.Dialog {
  background-color: #F0F0F0;
  position: absolute;
  width: $piano__width;
  height: $piano__height + 0.4;
  margin: auto;
  padding: 1rem;
  text-align: center;
  -webkit-transition: transform .1s ease, opacity .2s ease;
          transition: transform .1s ease, opacity .2s ease;

  &.blue {
    background-color: $color__peterRiver;
  }

  &.red {
    background-color: $color__alizarin;
  }

  &.gray {
    background-color: $color__concrete;
  }

  &.diag-leave {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: opacity .1s ease-in, transform .3s ease-out;
            transition: opacity .1s ease-in, transform .3s ease-out;
  }
  &.diag-leave.diag-leave-active {
    -webkit-transform: translateY($piano__height * -1);
        -ms-transform: translateY($piano__height * -1);
            transform: translateY($piano__height * -1);
    opacity: 0;
  }

  &.diag-enter {
    -webkit-transform: translateY($piano__height * -1);
        -ms-transform: translateY($piano__height * -1);
            transform: translateY($piano__height * -1);
    opacity: 0.01;
    -webkit-transition: opacity .1s ease-in, transform .3s ease-out;
            transition: opacity .1s ease-in, transform .3s ease-out;
  }
  &.diag-enter.diag-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }

}
