@import 'base';

.Dialog {
  background-color: #F0F0F0;
  position: absolute;
  width: $piano__width;
  height: $piano__height + 0.4;
  right: $piano__width;
  margin: auto;
  opacity: .5;
  padding: 1rem;
  text-align: center;
  transition: transform .1s ease, opacity .2s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }

  &.hide {
    transform: translateY($piano__height * -1);
    opacity: 0;
  }
}
